* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  scroll-behavior: smooth;
}

#header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/pascal-bernardon-TVcj-so0GDs-unsplash.jpg);
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

@media only screen and (max-width: 550px) {
  #header {
    height: 100vw;
  }
}
.nav {
  display: flex;
  align-items: center;
  width: 100%;
  height: 80px;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  z-index: 3;
}

.navbar {
  width: 70%;
  visibility: visible;
}
.navbar ul {
  list-style: none;
  text-align: right;
}
.navbar li {
  display: inline-block;
  margin-right: 50px;
}
.navbar a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  position: relative;
}
.navbar a::after {
  content: "";
  position: absolute;
  top: 110%;
  left: 0;
  height: 2px;
  width: 0;
  background: white;
  transition: all 0.6s ease-in-out;
}
.navbar a:hover::after {
  width: 100%;
  color: wheat;
}

.logo {
  width: 30%;
  display: flex;
  align-items: center;
}
.logo img {
  width: 70px;
}
.logo h4 {
  font-size: 25px;
  font-weight: 100;
  color: white;
}
.logo .span {
  color: #216822;
}

@media only screen and (max-width: 900px) {
  .nav {
    height: 70px;
  }

  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    opacity: 0.9;
    visibility: hidden;
    transition: all 0.8s ease-in-out;
    z-index: 4;
  }
  .navbar.open {
    visibility: visible;
  }
  .navbar ul {
    display: flex;
    flex-flow: column;
    transform: translateX(100vh);
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: black;
    transition: all 0.8s ease;
  }
  .navbar ul.open {
    transform: translateX(0);
  }
  .navbar ul li {
    margin: 30px;
  }

  .logo {
    width: 70%;
  }
  .logo img {
    width: 50px;
  }
  .logo h4 {
    font-size: 16px;
  }

  .hamburger-menu {
    width: 28px;
    height: 20px;
    position: absolute;
    top: 2rem;
    z-index: 5;
    right: 2rem;
    position: fixed;
    cursor: pointer;
  }
  .hamburger-menu .hamburger-item {
    position: absolute;
    width: 28px;
    height: 2px;
    background: white;
    top: 8px;
    right: 0;
    transition: all 0.8s ease;
  }
  .hamburger-menu .hamburger-item::after {
    content: "";
    position: absolute;
    width: 28px;
    top: -8px;
    left: 0%;
    height: 2px;
    background: white;
  }
  .hamburger-menu .hamburger-item::before {
    content: "";
    position: absolute;
    width: 28px;
    top: 8px;
    left: 0%;
    height: 2px;
    background: white;
  }
  .hamburger-menu .open {
    transform: rotate(720deg);
    background: transparent;
  }

  .open::before {
    transform: rotate(45deg) translate(-5px, -4px);
  }

  .open::after {
    transform: rotate(-45deg) translate(-8px, 5px);
  }
}
.heading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  width: 100%;
}
.heading h3 {
  word-spacing: 15px;
  letter-spacing: 8px;
  font-style: italic;
  font-weight: 100;
  font-size: 16px;
  margin: 30px 0px;
  text-align: center;
}
.heading h1 {
  text-align: center;
  font-weight: 500;
  font-size: 70px;
  border: 2px double white;
  background-color: black;
}
.heading h1 .span {
  color: #216822;
}
.heading .btn-container {
  text-align: center;
}
.heading .btn {
  padding: 13px 20px;
  border: none;
  font-size: 16px;
  outline: none;
  color: white;
  font-weight: 700;
  cursor: pointer;
  margin: auto;
  text-align: center;
}
.heading .btn-primary {
  color: white;
  background-color: #216822;
  border: 2px solid #216822;
}
.heading .btn-primary:hover {
  color: white;
  border: 2px solid white;
  background-color: transparent;
  transition: all 0.6s ease-in-out;
}
.heading .btn-secondary {
  color: white;
  border: 2px solid white;
  background-color: transparent;
  margin-left: 20px;
  transition: all 0.6s ease-in-out;
}
.heading .btn-secondary:hover {
  color: white;
  background-color: #216822;
  border: 2px solid #216822;
}

@media only screen and (max-width: 650px) {
  .heading h1 {
    font-size: 35px;
  }
  .heading h3 {
    font-size: 13px;
    margin: 15px 0px;
  }
}
@media only screen and (max-width: 520px) {
  .heading {
    top: 30%;
  }
  .heading h1 {
    font-size: 25px;
  }
  .heading h3 {
    font-size: 10px;
    letter-spacing: 4px;
    word-spacing: 6px;
    margin: 10px 0px;
  }
  .heading .btn {
    padding: 5px 7px;
    font-size: 10px;
    border: 1px solid white;
  }
}
#houses {
  margin-top: 100px;
}

.title {
  margin: auto;
  font-size: 70px;
  font-weight: 100;
  text-align: center;
  margin-bottom: 50px;
  text-transform: uppercase;
  border: 2px solid black;
}

.card-container {
  display: flex;
  width: 94%;
  text-align: center;
  margin: auto;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card {
  position: relative;
  width: 24%;
  margin-bottom: 50px;
}
.card img {
  width: 100%;
  height: 200px;
}
.card h3 {
  background: white;
  position: absolute;
  font-weight: 300;
  font-size: 20px;
  padding: 6px 15px;
  border: 2px solid black;
}

@media only screen and (max-width: 1000px) {
  .title {
    font-size: 50px;
  }

  .card img {
    height: 130px;
  }
  .card h3 {
    font-size: 15px;
  }
}
@media only screen and (max-width: 700px) {
  .card {
    width: 40%;
  }
}
@media only screen and (max-width: 550px) {
  .title {
    font-size: 25px;
    border: 2px solid black;
  }

  .card {
    width: 100%;
  }
  .card img {
    height: 230px;
  }
}
#about {
  margin-top: 100px;
}

.my-container {
  display: flex;
  align-items: center;
  flex-basis: content;
  justify-content: space-around;
}
.my-container .image-container {
  width: 50%;
  margin: auto;
  text-align: right;
}
.my-container .image-container img {
  width: 60%;
  margin-right: 30px;
  border: 5px double #216822;
}
.my-container .image-heading {
  margin: auto;
  width: 70%;
}
.my-container .image-heading h1 {
  text-align: center;
  font-size: 70px;
  font-weight: 100;
  font-style: italic;
  margin-bottom: 50px;
}
.my-container .image-heading h1 .span {
  color: #216822;
  -webkit-animation-name: span-animation;
          animation-name: span-animation;
  transition: all 0.2s ease-in-out;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  display: inline-block;
}
.my-container .image-heading P {
  max-width: 90%;
  margin: auto;
  text-align: center;
}

@media screen and (max-width: 850px) {
  .my-container .image-heading h1 {
    font-size: 40px;
  }
  .my-container .image-heading p {
    font-size: 12px;
  }
}
@media screen and (max-width: 550px) {
  .my-container {
    overflow: hidden;
  }
  .my-container .image-heading {
    width: 95%;
  }
  .my-container .image-heading h1 {
    font-size: 30px;
  }
  .my-container .image-heading p {
    font-size: 12px;
  }
  .my-container .image-container {
    width: 0%;
  }
  .my-container .image-container img {
    width: 0%;
    border: none;
  }
}
@-webkit-keyframes span-animation {
  0% {
    transform: translateX(0deg);
  }
  20% {
    transform: rotate(-5deg);
  }
  40% {
    transform: rotate(-10deg);
  }
  60% {
    transform: rotate(-10deg);
  }
  80% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes span-animation {
  0% {
    transform: translateX(0deg);
  }
  20% {
    transform: rotate(-5deg);
  }
  40% {
    transform: rotate(-10deg);
  }
  60% {
    transform: rotate(-10deg);
  }
  80% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
#contact {
  margin-top: 100px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("img/burgess-milner-baQYuqDG4G8-unsplash.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  position: relative;
}

.contact-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  width: 80%;
  height: 60vh;
  background: rgba(0, 0, 0, 0.8);
  color: white;
}
.contact-container .left-side {
  width: 50%;
  height: 100%;
  position: relative;
}
.contact-container .left-side h2 {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  font-weight: 200;
}
.contact-container .left-side .social-icons {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  text-align: center;
  transform: translate(-50%, -50%);
}
.contact-container .left-side .social-icons i {
  margin-right: 30px;
  color: white;
  transition: all 0.7s ease-in-out;
}
.contact-container .left-side .social-icons i:hover {
  color: #19461a;
}
.contact-container .left-side .social-icons a {
  text-decoration: none;
}
.contact-container .right-side {
  width: 50%;
  height: 100%;
  position: relative;
  background-color: #19461a;
}
.contact-container .right-side h2 {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  font-weight: 200;
}
.contact-container .right-side .h3-container {
  position: absolute;
  width: 90%;
  top: 40%;
  left: 50%;
  margin: auto;
  transform: translate(-50%, -50%);
}
.contact-container .right-side .h3-container h3 {
  font-size: 23px;
  margin-top: 40px;
  font-weight: 100;
}

@media screen and (max-width: 900px) {
  .contact-container .right-side {
    width: 0%;
    overflow: hidden;
    visibility: hidden;
  }
  .contact-container .left-side {
    width: 100%;
  }
  .contact-container .left-side .social-icons {
    display: flex;
    flex-direction: column;
  }
  .contact-container .left-side .social-icons a {
    margin-top: 50px;
  }
  .contact-container .left-side h2 {
    font-size: 18px;
  }
}
footer {
  padding: 15px;
  background: black;
  color: white;
}
footer h1 {
  font-size: 14px;
  text-align: center;
  font-weight: 100;
}/*# sourceMappingURL=style.css.map */